run = "npm run start"
entrypoint = "src/app/layout.tsx"

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
